*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
    font-family: Baskerville, sans-serif;
    font-size: 15px;
}

body{
    /* background: linear-gradient(90deg, #232526, #414345); */
    background: rgb(22, 21, 21);
}

/* footer{
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
} */

.body{
    position: relative; 
    /*relative means positioned based on where that element should've been in the normal FLOW, 
    absolute means position it based on the nearest positoned parent or the <body> */
    top:60px;
}

.symbols{
    width: 100px;
    height: 100px;
}

.logo{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

h1{
    font-size: 32px;
}

.homepagesections h1 {
    display: inline;
}

.homepagesections{
    padding: 30px;
    margin-top: 50px;

}

.title img{
    display: inline;
    width:50px;
    height: 50px;
}

.centerThings{
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    background-color: rgba(0, 0, 0, 0.288);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.navLinks a{
    margin-right: 20px;
}

nav a {
    margin: 0;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 20px;
}

nav a:hover{
    opacity: 0.8;
}
