*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
    font-family: Baskerville, sans-serif;
    font-size: 15px;
}

/* START OF NAV BAR THINGS */

header {
    background-color: rgba(0, 0, 0, 0.288);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.navLinks a{
    margin-right: 20px;
}

nav a {
    margin: 0;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 20px;
}

nav a:hover{
    opacity: 0.8;
}

/* END OF NAV BAR THINGS */

/* START OF HOME PAGE TITLE THINGS */

.title{
    display: flex;
    justify-content: space-evenly;
}

.leftTitle{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.title h1{
    font-size: 50px;
}

/* END OF HOME PAGE TITLE THINGS */

.logo{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

body{
    /* background: linear-gradient(90deg, #232526, #414345); */
    background: rgb(22, 21, 21);
}

.body{
    position: relative; 
    /*relative means positioned based on where that element should've been in the normal FLOW, 
    absolute means position is based on the nearest positioned parent or the <body> */
    top:60px;
}

h1{
    font-size: 40px;
}

.homepagesections{
    padding: 30px;
    margin-top: 50px;

}

.centerThings{
    display: flex;
    justify-content: center;
    align-items: center;
}


